/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);
/* line 5, ../../../../../home/raj/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../home/raj/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../home/raj/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../home/raj/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../home/raj/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../home/raj/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../home/raj/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../home/raj/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../home/raj/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/screen.scss */
body {
  font-family: 'Open Sans', sans-serif;
}
/* line 9, ../sass/screen.scss */
body .container {
  background-color: rgba(0, 0, 0, 0.8);
}
@media (max-width: 480px) {
  /* line 11, ../sass/screen.scss */
  body .container #header {
    display: none;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  /* line 11, ../sass/screen.scss */
  body .container #header {
    top: 1.8em;
  }
}
/* line 19, ../sass/screen.scss */
body .container .welcome-text {
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
}
@media (max-width: 480px) {
  /* line 19, ../sass/screen.scss */
  body .container .welcome-text {
    font-size: 1.8em;
    top: 14% !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  /* line 19, ../sass/screen.scss */
  body .container .welcome-text {
    font-size: 2em;
    top: 24% !important;
  }
}
/* line 32, ../sass/screen.scss */
body .container .description {
  width: 50%;
  left: 25%;
  top: 45%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  position: absolute;
  color: white;
  font-weight: 600;
  text-align: justify;
  line-height: 20px;
}
@media (max-width: 480px) {
  /* line 32, ../sass/screen.scss */
  body .container .description {
    font-size: 1em;
    width: 80%;
    top: 42%;
    left: 10%;
  }
}
/* line 50, ../sass/screen.scss */
body .container .getting-started {
  position: absolute;
  background: #ff651b;
  height: 47px;
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #ff651b;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 20px;
  border-color: #ff651b;
  font-weight: 700;
  top: 58%;
  left: 42%;
}
@media (max-width: 480px) {
  /* line 50, ../sass/screen.scss */
  body .container .getting-started {
    width: 60%;
    top: 66%;
    left: 19%;
    height: 60px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  /* line 50, ../sass/screen.scss */
  body .container .getting-started {
    top: 62%;
    left: 36%;
  }
}
/* line 76, ../sass/screen.scss */
body .container .use-case {
  position: absolute;
  top: 70%;
  left: 42%;
  text-align: center;
  color: white;
}
/* line 82, ../sass/screen.scss */
body .container .use-case h3 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
}
/* line 87, ../sass/screen.scss */
body .container .use-case span {
  margin-top: 15px;
}
@media (max-width: 480px) {
  /* line 76, ../sass/screen.scss */
  body .container .use-case {
    display: none;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  /* line 76, ../sass/screen.scss */
  body .container .use-case {
    top: 73%;
    left: 37%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  /* line 98, ../sass/screen.scss */
  body .container .content-switch {
    left: 47%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  /* line 106, ../sass/screen.scss */
  body .img-wrap img {
    height: 100%;
  }
}
