/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: 'Raleway', sans-serif;
    min-width: 1000px;
}

header {
    height: 550px;
    position: relative;
    background-color: #000;
}

header.small-header {
    height: 400px;
}

.register-btn {
    background-color: #F66505;
}

.big-picture {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 450px;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.blog-picture {
    background-image: url(../img/main_blog_image.jpg);
}

.explore-picture {
    background-image: url(../img/explore.jpg);
}

.about-slide {
    background-color: rgba(0,0,0,0.6);
}

.slide {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-position: top center;
}

.slide-1 {
    background-image: url(../img/main_image_1.jpg);
}

.slide-2 {
    display: none;
    background-image: url(../img/main_image_2.jpg);
}

.slide-3 {
    display: none;
}

/*.logo {
    z-index: 2;
    position: absolute;
    top: 42px;
    left: calc(33.33% - 120px);
}*/

.big-text {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    color: #fff;
}

.big-text h1 {
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.big-text p {
    height: 0px;
    overflow: hidden;
    margin-top: 0px;
    -webkit-transition: height, 0.3s;
    -moz-transition: height, 0.3s;
    -ms-transition: height, 0.3s;
    -o-transition: height, 0.3s;
    transition: height, 0.3s;
}

.big-picture:hover .big-text p {
    height: 40px;
}

/*.sticky {
    width: 1000px;
    z-index: 101;
    top: 0px;
    position: fixed;
}*/

/*nav {
    position: relative;
    overflow: hidden;
    width: 100%;
}*/

h1 {
    text-transform: uppercase;
    font-size: 24px;
}

h2 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}

nav ul {
    padding: 0px;
    margin: 0px;
}

/*nav ul li {
    box-sizing: border-box;
    width: 25%;
    float: left;
    border-right: 1px solid #11A273;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #13ca99;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;f
}*/

nav ul li a.login {
    background-color: orange;
}

/*nav ul li a:hover {
    background-color: #11A273;
}*/

.screen {
    position: relative;
    overflow: hidden;
}

.green-screen {
    color: #fff;
    background-color: #06ce85;
}

.maps-holder {
    padding-top: 80px;
    width: 1000px;
    margin: auto;
}

.maps-holder .text p {
    font-weight: 300;
}

.half {
    position: relative;
    box-sizing: border-box;
    padding: 15px;
    width: 50%;
    float: left;
    height: 100%;
}

.half .single-map:last-child {
    margin-right: 0px;
}

.single-map {
    margin-bottom: 30px;
    float: left;
    margin-right: 58px;
    width: 197px;
    height: 166px;
    position: relative;
}

.single-map img {
    width: 100%;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.single-map-box {
    cursor: pointer;
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    z-index: 1;
    overflow: hidden;
}

.single-map-box:hover {
    z-index: 2;
    width: 160%;
    height: 160%;
    top: -30%;
    left: -30%;

    box-shadow: 0 0px 30px #000;
    -moz-box-shadow: 0 0px 30px #000;
    -o-box-shadow: 0 0px 30px #000;
}


.single-map-box:hover img {
    opacity: 0.3;
}

.clear {
    clear: both;
}

footer {
    padding: 30px;
    color: #ddd;
    border-top: 1px solid #ddd;
}

footer a {
    color: #ddd;
    font-size: 13px;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer ul {
    margin: 0px;
    text-align: center;
    margin: auto;
    width: 514px;
    overflow: hidden;
}

footer ul li {
    list-style: none;
    float: left;
    padding: 0px 40px;
    border-right: 1px solid #ddd;
}

footer ul li:last-child {
    border: none;
}

 .about-text h2 {
    margin-bottom: 10px;
 }

.about-text h4 {
    color: #f66505;
    font-weight: 500;
    margin: 0px;
}

.about-text blockquote {
    color: #999;
    border-left: 5px solid #ddd;
    margin: 0px;
    padding-left: 30px;
    font-style: italic;
    margin-top: 20px;
    line-height: 24px;
    font-size: 13px;
    margin-bottom: 20px;
}

.about-text {
    width: 80%;
}

.about-text a {
    color: #F66505;
}

.more {
    display: none;
}

.about-text p, .about-text a {
    font-size: 13px;
    line-height: 24px;
}

.video-btn {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
    z-index: 20;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    padding: 8px 12px;
    position: fixed;
    right: 30px;
    top: 80px;
    width: 90px;
}

.video-btn span {
    padding-top: 4px;
    float: left;
    display: block;
}

.video-btn img {
    margin-right: 8px;
    float: left;
}

.video-close-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 32px;
    color: #fff;
    text-decoration: none;
}

.video-iframe {
    width: 600px;
    position: absolute;
    top: 100px;
    right: 100px;
}

.single-map-info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    color: #fff;
}

.single-map-info p {
    font-size: 13px;
}

.single-map-info h3, .single-map-info p {
    margin: 0;
}

.single-map-info h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
}

.single-map-box:hover .single-map-info {
    opacity: 1;
}

.mascot {
    right: 80px;
    position: absolute;
    bottom: -500px;
    width: 50%;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.mascot.animate {
    -webkit-animation: myfirst 2s infinite; /* Chrome, Safari, Opera */
    animation: myfirst 2s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst
{
    0% { bottom: 500px; }
    50% { bottom: 480px; }
    100% { bottom: 500px; }
}

/* Standard syntax */
@keyframes myfirst
{
    0% { bottom: 500px; }
    50% { bottom: 480px; }
    100% { bottom: 500px; }
}

.mascot.show {
    bottom: -50px;
}

.about-screen {
    overflow: hidden;
    height: 540px;
}

a.green-strip {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    display: block;
    width: 100%;
    background-color: #05af71;
    color: #fff;
    text-decoration: none;
}

.darker_text{
    color:#353535
}

.picture-text-block {
    color: #fff;
    margin-left: 10%;
    margin-top: 20%;
}

.slide-2 .picture-text-block {
    right: 50px;
    position: absolute;
    width: 350px;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff4600;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

a.orange-button {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 15px 25px;
    overflow: hidden;
    height: 23px;
    position: relative;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    width: 187px;
}

a.orange-button:hover {
    width: 223px;
}

a.download-button {
    width: 110px;
}

a.download-button:hover {
    width: 140px;
}

a.orange-button img {
    width: 24px;
    opacity: 0;
    position: absolute;
    right: 15px;
    top: 13px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-left: 10px;
}

a.orange-button:after {
    content: '';
    position: absolute;
    width: 30%;
    height: 500%;
    background: rgba(255, 255, 255, 0.15);
    z-index: 1;
    right: 0;
    top: 0;
    margin: -5px 0 0 -5px;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-50deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-50deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(-50deg);
    transform-origin: 0 0;
    transform: rotate(-50deg);

    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

a.orange-button:hover:after {
    width: 60%;
}

a.orange-button:hover img {
    opacity: 1;
}

.left {
    float: left;
}


#features, #demo {
    border-bottom: 1px solid #ddd;
}

.center {
    text-align: center;
}

#demo {
    padding-top: 20px;
}

.demo-panel {
    background-image: url(../img/demo_bg1.png);
    background-size: 100%;
    width: 784.8px;
    height: 492px;
    margin: auto;
    margin-left: -2000px;
    position: relative;

    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;

    /*margin-top: -50px;*/
}

.search-field {
    color: #fff;
    position: absolute;
    top: 50px;
    font-size: 12px;
    left: 20px;
}

.left-panel {
    position: absolute;
    width: 180px;
    height: 394px;
    top: 74px;
    left: 9px;
}

.right-panel {
    position: absolute;
    width: 586px;
    height: 424px;
    top: 44px;
    left: 190px;
}

.left-panel img {
    border-bottom: 1px solid #ddd;
}

.demo-holder {
    width: 1000px;
    margin: auto;
}

.about-holder {
    width: 1000px;
    overflow: hidden;
    margin: auto;
    /*margin-top: 40px;*/
    background-image: url(../img/about-image.png);
    background-repeat: no-repeat;
    background-position: 70px 140px;
}

.blog-holder {
    width: 1000px;
    overflow: hidden;
    margin: auto;
}

span.date {
    font-size: 12px;
    letter-spacing: 3px;
}

.blog-screen {
    border-bottom: 1px solid #ddd;
    padding: 20px 0px;
}

.blog-holder .blog-title img {
   width: 100%;
   height: auto;
}

.blog-body {
    width: 700px;
    margin: auto;
}

.blog-body p {
    font-size: 16px;
    line-height: 32px;
    text-align: justify;
    word-wrap:break-word;
}

.about-holder h2 {
    margin-bottom: 40px;
}

ul.demo-steps li:first-child {
    margin-left: 0px;
}

ul.demo-steps {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    overflow: hidden;
    height: 45px;
    margin-bottom: 0px;
    margin-top: 0px;
}

ul.demo-steps li {
    font-size: 24px;
    float: left;
    margin-left: 100px;
    list-style: none;
    padding-left: 10px;
    position: relative;
    padding-left: 50px;
    padding-top: 4px;
    width: 200px;
    color: #bbb;
}

ul.demo-steps li:before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #bbb;
    position: absolute;
    left: 0px;
    top: 0px;
}

ul.demo-steps li:after {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 5px;
    top: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #fff;
    float: left;
}

ul.demo-steps li.active:before {
    background-color: #13ca99;
}

ul.demo-steps li.active {
    color: #13ca99;
}

ul.demo-steps li.ongoing:before {
    background-color: #ff4600;
}

ul.demo-steps li.ongoing {
    color: #ff4600;
}

ul.demo-steps li span {
    color: #fff;
    position: absolute;
    left: 10px;
    top: 8px;
    font-size: 20px;
}

.marginBottom40 {
    margin-bottom: 40px;
}

.draggable {
    display: none;
    z-index: 103;
    top: 0px;
    position: relative;
}

.link.draggable {
    width: 100%;
}

.image.draggable {
    float: left;
    width: 50%;
    height: 68px;
}

.note.draggable {
    width: 100px;
    right: -100px;
    top: 50px;
    position: absolute;
}

.note.draggable.widget {
    width: 150px;
}

.table.draggable {
    width: 100px;
    right: -100px;
    top: 250px;
    position: absolute;
}

.table.draggable.widget {
    width: 200px;
}

.image.draggable.widget {
    width: 100px;
}

.link.draggable.widget {
    width: 120px;
    border-bottom: none;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 0px 17px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 0px 17px 0px rgba(50, 50, 50, 0.3);
}

ul.demo-steps li span.completion_line {
    height: 5px;
    width: 190px;
    position: absolute;
    left: -200px;
    top: 18px;
    background-color: #ddd;
}

ul.demo-steps li span.completion_line:before {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    width: 0%;
    content: '';
}

ul.demo-steps li.line_animation span.completion_line:before {
    background-color: #13ca99;
    height: 5px;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

ul.demo-steps li#connect_step span.completion_line {
    width: 100px;
    left: -120px;
}

#typed-cursor {
    display: none;
}

.right-slide-btn {
    color: #fff;
    bottom: 30px;
    right: 50px;
    position: absolute;
    text-decoration: none;
}

.left-slide-btn {
    color: #fff;
    bottom: 30px;
    left: 50px;
    position: absolute;
    text-decoration: none;
}


.about-text-block {
    color: #fff;
    margin: auto;
    text-align: center;
    padding-top: 200px;
}

.about-text {
    width: 60%;
    margin: auto;
    margin-bottom: 50px;
}

.team-holder {
    padding-top: 30px;
}

.features-holder {
    padding-top: 30px;
    width: 1000px;
    margin: auto;
    padding-bottom: 20px;
    overflow: hidden;
}

.feature-block, .video-block {
    padding: 20px 0px;
    overflow: hidden;
    margin-bottom: 10px;
/*    border-bottom: 1px solid #ddd;*/
}

.feature-block:nth-child(2){
    /*border-top: 1px solid #ddd;*/
}


.feature-block:last-child, .video-block:last-child {
    border: none;
}

.video-holder {
    float: left;
    width: 40%;
    text-align: center;
}

.feature-image-holder{
    float: left;
width: 35%;
text-align: center;
}



.feature-image-holder img {
    width: 140px;
}

.video-holder img {
    display: block;
    position: absolute;
    width: 80px;
    left: 200px;
    top: 100px;
    opacity: 0.5;
}

.video-holder img:hover {
    opacity: 1;
}

.feature-text-block {
    width: 60%;
    float: left;
    padding-left: 4%;
    border-left: 1px solid #ddd;
}

.feature-text-block h2 {
    margin: 0px;
    text-transform: uppercase;
    font-size:14px;
    margin-bottom: 5px;
}

.feature-text-block p {
    font-size: 12px;
    margin-top: 0px;
line-height: 18px;
}

.video-holder {
    box-sizing: border-box;
    padding: 0px 40px;
    width: 55%;
}

.video-text-block {
    width: 45%;
    box-sizing: border-box;
    padding-top: 50px;
    float: left;
}

.video-text-block h2 {
    margin-top: 0px;
}

.video-single {
    height: 298px;
    overflow: hidden;
    position: relative;
}

.video-single video {
 /*   width: 480px;
    height: 300px;*/
}

.nav-holder {
    position: fixed;
    /*left: 50%;*/
    width: 100%;
    z-index: 113;
}

nav {
    width: 100%;
    min-width: 1000px;
    /*margin-left: -50%;*/
    overflow: hidden;
    background-color: #13ca99;
}

nav ul {
    float: right;
}

nav ul li {
    float: left;
    margin-right: 80px;
}

nav ul li.login a {
    background-color: #FF4600;
    width:100px;
    top: 8px;
    position: absolute;
    right: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 12px 20px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    border-top: none;
    overflow: hidden;
}

li.login a:after {
    content: '';
    position: absolute;
    width: 60%;
    height: 500%;
    background: rgba(255, 255, 255, 0.15);
    z-index: 1;
    right: 0;
    top: 0;
    margin: -5px 0 0 -5px;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-50deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-50deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(-50deg);
    transform-origin: 0 0;
    transform: rotate(-50deg);

    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

nav ul li.login a:hover {
    border-top: none;
}

nav ul li.login a:hover:after  {
    width: 80%;
}

nav ul li a {
    /*font-weight: 700;*/
    display: block;
    font-size: 14px;
    padding: 20px;
    padding-top: 15px;
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
    border-top: 5px solid transparent;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

nav ul li a:hover, nav ul li a.active {
    border-top: 5px solid #11A273;
}

div.logo {
    position: absolute;
    top: 0px;
    left: 0px;
}

.drag_and_drop_label {
    display: none;
    position: absolute;
    top: 0px;
    z-index: 101;
    left: 0px;
    width: 300px;
}

.left_float{
    float: left;
    width: 48%;
}

.right_float{
    float: right;
    width: 48%;
}

.quote_holder{
    position: relative;
    top:450px;
    width: 400px;
    height:100px;
    margin-left:auto;
    margin-right: auto;
    background-color: transparent; 
    color: #fff;
}

.quote_holder blockquote{
    font-size: 16px;
    margin: 0px;
    background:transparent;
    height: 100%;
    position: absolute;
    /*font-weight: bold;*/
}

.quote_holder blockquote span{
    margin-bottom: 10px;
    background-color: #000;
    font-size: 14px;
    padding: 4px;
    
}
.quote_holder blockquote span i{
    font-size: 24px;
    
}

.quote_holder blockquote span i:before{
    background-color: #000;
    padding: 4px;
    
}




/*
.quote_holder blockquote span{
    font-size: 24px;
    font-weight: bolder;
}
*/
.quote_holder blockquote cite { 
    font-style: normal; 
    display: block; 
    text-align: right; 
    text-transform: uppercase; 
    font-size: 10px; 
    font-weight: bold; 
    letter-spacing: 1px; 
    font-family: Arial, Helvetica, sans-serif; 
    background-color: #000;
    color: #fff;
    position: absolute;
    right: 0px;
    padding: 4px;
}

.round_reload{
    width: 25px;
    height: 28px;
    padding: 4px 8px;
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    position: absolute;
    font-size: 14px;
    left: 100%;
    margin-top: -39px;
    display: none;

}

.demo-panel:hover .round_reload{
    display: block;
}
.round_reload i{
    font-size: 24px;
}

.cropped_blog_image{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    overflow: hidden;
}